 <section class="designer_ser">  
   <section>
    <div class="main_bane_trad">
      <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Hero_3200x1400_1.webp?v=1749835556">
      <div class="content_of_ban">
        <div class="all_data_cnt">
          <h2>DESIGN SERVICES</h2>
          <p>free expert guidance from our team of interior designers</p>
          <div class="design_get_strd">
          <a href="#"><button type="button">Get STARTED</button></a></div>
        </div>
      </div>
    </div> 
   </section>

<section>
    <div class="featured-collections-section">
        <h3> our process</h3>
      
        <div class="collections-grid">
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_03_40_PM.png?v=1749809974" class="collection-img">
                <a href="#">Shshare your goalsop</a>
              <p class="desiSub_col">Fill out our questionnaire and we'll
review your space, your inspiration
and your personal style</p>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_03_41_PM11.png?v=1749810511" alt="Nuvella Fabric" class="collection-img">
                <a href="#">craft your space</a>
              <p class="desiSub_col">The work begins as your personal
designer develops an individually
inspired floorplan and mood board.</p>
            
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_03_42_PM.png?v=1749809974" alt="Extendable Dining Table" class="collection-img">
                <a href="#">present our vision</a>
              <p class="desiSub_col">Your designer will provide
recommendations and
collaborate to refine your look.</p>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_03_44_PM12.png?v=1749810647" alt="Modular Seating" class="collection-img">
                <a href="#">bring it to life</a>
              <p class="desiSub_col">We'll help you complete
your purchase, in-store
or online.</p>
            </div>
        </div>
    </div>
</section>
    <section>
    <div class="get_inspire_btm">
       <div class="get_inspire_btm_second">
        <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design_Services_LP_3A.gif?v=1749811569">
      </div>
      <div class="get_inspire_btm_first design">
        <div class="get_inspire_btm_first_txt">
          <p></p>
          <p>Expert Design<br>no strings attached </p>
          <p>Discover the latest trends, styles and stories</p>
          <a href="#"><button type="button">GET Started</button></a>
        </div>
      </div>
     
    </div>
  </section>
    <section>
    <div class="featured-collections-section">
        <h3>your story, your space</h3>
      <p class="feature_subhed">our design team can create style to fit your look and your lifestyle.</p>
        <div class="collections-grid">
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_04_21_PM.png?v=1749812099" class="collection-img">
                <a href="#">the growing family</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_04_22_PM.png?v=1749812099" alt="Nuvella Fabric" class="collection-img">
                <a href="#">the eclectic travelers</a>
            
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_04_23_PM.png?v=1749812099" alt="Extendable Dining Table" class="collection-img">
                <a href="#">the glam professional</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_04_24_PM.png?v=1749812099" alt="Modular Seating" class="collection-img">
                <a href="#">the traditionalists</a>
            </div>
        </div>
    </div>
</section>
    <section>
    <div class="new_banner">
       <a href="#"> <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_04_30_PM.png?v=1749812445" class=""></a>       
    </div>
   </section>
   <section class="desig_withbg">
    <div class="featured-collections-section desig_withbg">
        <h3> get inspired</h3>
      <p class="feature_subhed">Spark your imagination our latest trending style</p>
        <div class="collections-grid">
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_05_12_PM.png?v=1749815194" class="collection-img">
                <a href="#">Mid-Century Modern</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_05_13_PM.png?v=1749815194" alt="Nuvella Fabric" class="collection-img">
                <a href="#">Modern Coastal</a>
            
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_05_14_PM.png?v=1749815192" alt="Extendable Dining Table" class="collection-img">
                <a href="#">Transitional</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/Design-Services-Ashley-06-13-2025_05_16_PM.png?v=1749815192" alt="Modular Seating" class="collection-img">
                <a href="#">Modern Farmhouse</a>
            </div>
        </div>
      <div class="EXPLORE_MORE_STYLES">
        <a href=""><button type="button">EXPLORE MORE STYLES</button></a>
      </div>
    </div>
</section>
   <section>
     <div class="designer_pro_us">
       <h2> already have a project with us?</h2>
       <p> pick up where you left off </p>
       <a href=""><button type="button">LOG IN</button></a>
     </div>
   </section>
   <section>
     <div class="faq_desi">
       <h3>Frequently Asked Ashley Design Service Questions</h3>
     </div>
  <div class="container faq-accordion-container">
    <div class="faq-item">
        <div class="faq-question">
            <h3>Are Ashley Design Services free?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Yes! Our design services are completely free, even if you decide not to purchase anything.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3> What do I need to get started?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Simply fill out our questionnaire, answer a few questions to help our designers get to know your wants and needs, upload a floor plan, images of your space and share inspiration for the style you want to create. We will reach out shortly after to let you know the next steps and introduce you to your designer.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>What items are included in my custom design package?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Your custom design package will consist of items from ashleyfurniture.com. These include sofas, accent chairs, bedroom sets, dining tables, dining chairs, desks, bookcases, cabinets, accent tables, end tables, lamps, art, accessories, rugs, curtains, lighting fixtures and much, much more! The design will not include any architectural changes or permanent fixtures like built in cabinets, paint colors, flooring or other interior finishes.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>How long will my custom design take?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Once you’ve completed the questionnaire, including a floor plan, images of your space and inspiration for the style you are looking for, it will be between 5–10 business days for the designer to create your custom roomboard. Your designer will provide an exact timeline on when to expect your design when they initially reach out.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>What kind of spaces can a virtual designer help with?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>LoremOur Designers can assist with virtually any interior space and many outdoor spaces. Spaces include, but are not limited to, living rooms, family rooms, dens, foyers, master bedrooms, kid’s bedrooms, dining rooms, home offices, rec rooms, multipurpose rooms, patios and sunrooms.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>Can you help if I don’t know my interior design style?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Absolutely! We understand that determining what style you want can be challenging to pin down. Check out our trending styles for inspiration. Pinterest is a great resource as well. Once you’ve completed your questionnaire, your designer will collaborate with you to create your dream space!</p>
        </div>
    </div>    
    <div class="faq-item">
        <div class="faq-question">
            <h3> Can you design more than one room in my home?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Yes! Fill out the questionnaire for the room you’d like to design first and include in your notes the other rooms you would like to update.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3> Can you incorporate furniture or accessories that I already own?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Yes! Whether it’s sentimental family heirlooms or a simply a piece you love, we will coordinate a design that not only incorporates your items, but accents them. Submit images and dimensions of the pieces when completing your questionnaire to help your designer ensure cohesiveness throughout your new space.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>What if I just need advice on choosing one or two pieces, but not a full redesign?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>If you have a quick design question, you can chat now with a design expert for advice.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3> Why do you ask for a floor plan and images of the space?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>We need these items to create an accurate design with furnishings that are an appropriate size, allow for ample traffic flow and that will fit through doorways and stairwells in your home. We cannot proceed without these items since this is an online service and we will not be able to visit your home.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3> Is there a designer located at my local Ashley Store?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Our Design Services are fully online with a team of interior designers ready to help you get started on your design journey.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>  How can I purchase my room design?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>A personalized list will be created with your custom design that makes purchasing easy. Purchases can be made online or at any Ashley location you choose. Your designer will be able to provide assistance throughout the purchasing process.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">
            <h3>   Can I see the product in person?</h3>
            <span class="faq-toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <p>Depending on your style and selections, most items can be found at your nearest Ashley store. Please contact your local Ashley store to see if the items you would like to view are available in-sto</p>
        </div>
    </div>
</div>
</section>
  </section>
  <style>
    .new_banner img {
    width: 100%;
}
  </style>