{
  "sections": {
    "shogun-helper": {
      "type": "shogun-helper",
      "settings": {}
    },
    "main": {
      "type": "main-page",
      "settings": {
        "padding_top": 28,
        "padding_bottom": 28
      }
    },
    "shogun-optimizer": {
      "type": "shogun-optimizer",
      "settings": {}
    },
    "rich_text_rx4T67": {
      "type": "rich-text",
      "blocks": {
        "text_cNem6g": {
          "type": "text",
          "settings": {
            "text": "<h1>Ashley Digital Accessibility Statement</h1>"
          }
        },
        "heading_qbjFTK": {
          "type": "heading",
          "settings": {
            "heading": "Our Policy & Commitment",
            "heading_size": "h1"
          }
        },
        "text_VJd6Ue": {
          "type": "text",
          "settings": {
            "text": "<p>At Ashley, we are committed to accessibility. As part of that commitment, we are making efforts to ensure that Ashley's digital properties are accessible to all individuals, regardless of ability. In doing so, Ashley has a goal to comply with applicable accessibility standards included in the W3C’s WCAG 2.1 guidelines.</p>"
          }
        },
        "heading_m3L7dn": {
          "type": "heading",
          "settings": {
            "heading": "Digital Accessibility Statement",
            "heading_size": "h1"
          }
        },
        "text_LiUVDi": {
          "type": "text",
          "settings": {
            "text": "<p>We are working to ensure our websites and online services are accessible for all and are committed to following the <a href=\"https://www.w3.org/WAI/standards-guidelines/wcag/\" target=\"_blank\">W3C Web Content Accessibility Guidelines</a> and other applicable web accessibility laws.<br/><br/>To accomplish this, we have <a href=\"https://www.levelaccess.com/\" target=\"_blank\">partnered with Level Access</a> to leverage their technology and 25 years of experience to achieve and sustain conformance to accessibility standards. Their digital accessibility platform is used to evaluate our digital properties in accordance with best practices and is supported by a diverse team of accessibility professionals, including users with disabilities. The platform, moreover, goes beyond minimum compliance requirements by making an <a href=\"https://www.levelaccess.com/a/ashleyfurniture/\" target=\"_blank\">assistive CX technology</a> application available to customers who have trouble typing, gesturing, moving a mouse, or reading. The application is free to download, and it incorporates tools such as mouse and keyboard replacements, voice recognition, speech enablement, hands-free/touch-free navigation, and more.<br/><br/>Through this partnership, Ashley continues to develop our digital accessibility program and capabilities so that we are designing, developing, and testing our websites and online services for conformance to accessibility standards.</p>"
          }
        },
        "heading_LzHjdJ": {
          "type": "heading",
          "settings": {
            "heading": "Contact",
            "heading_size": "h1"
          }
        },
        "text_48Mmeg": {
          "type": "text",
          "settings": {
            "text": "<p>We want to hear from you - If you would like further information about Ashley’s accessibility efforts, have other accessibility questions or feedback, or if you encounter accessibility barriers on our digital properties, please contact:</p>"
          }
        },
        "text_6XcEUb": {
          "type": "text",
          "settings": {
            "text": "<h3>Email</h3>"
          }
        },
        "text_Riyn9a": {
          "type": "text",
          "settings": {
            "text": "<p><a href=\"mailto: accessibility@ashleyfurniture.com\">accessibility@ashleyfurniture.com<br/></a>Last Updated: June 2023</p>"
          }
        }
      },
      "block_order": [
        "text_cNem6g",
        "heading_qbjFTK",
        "text_VJd6Ue",
        "heading_m3L7dn",
        "text_LiUVDi",
        "heading_LzHjdJ",
        "text_48Mmeg",
        "text_6XcEUb",
        "text_Riyn9a"
      ],
      "name": "t:sections.rich-text.presets.name",
      "settings": {
        "desktop_content_position": "center",
        "content_alignment": "left",
        "color_scheme": "",
        "full_width": true,
        "padding_top": 0,
        "padding_bottom": 0
      }
    },
    "rich_text_DhQmdQ": {
      "type": "rich-text",
      "blocks": {
        "text_3JVzFe": {
          "type": "text",
          "settings": {
            "text": "<p>For additional details on the offers on this page, <a href=\"#\" target=\"_blank\" title=\"#\"><span style=\"text-decoration:underline\">click here</span></a> to learn more.</p>"
          }
        },
        "text_MGrJ7e": {
          "type": "text",
          "settings": {
            "text": "<p><strong>0% interest for 72 months‡‡  - In-store Only<br/></strong>⁠On in-store purchases made with your Ashley Advantage® Synchrony credit card at participating locations from 4/29/2025-6/2/2025. Equal monthly payments required for 72 months. Minimum purchase may be required. Down payment up to 30% may be required on another payment type for in-store purchases. Promo fee of 2% of amount financed will be included in required monthly payments.<br/><br/></p>"
          }
        },
        "text_dJKjEB": {
          "type": "text",
          "settings": {
            "text": "<p>‡‡Not combinable with other offers and discounts. If any down payment is required, the qualifying purchase amount is determined prior to any down payment, taxes or delivery. See a sales associate for details on required down payment. Qualifying purchase amount must be on one receipt. A promo fee, equal to 2% of the amount financed at time of purchase, will be shown as a separate transaction on your billing statement and included in the balance subject to this promo. Any taxes, delivery, or other charges included in the amount financed will increase the related promo fee and the required monthly payments. For example, a $950 purchase with $50 in taxes and shipping costs, will be charged a promo fee equal to $20 and $1,020 will be charged to your account. No interest will be charged on amount financed (including related promo fee) and equal monthly payments are required on promo purchase until it is paid in full. The payments equal the initial amount financed, (including related promo fee) divided by the number of months in the promo period, rounded up to the next cent. Any estimated monthly payments may be shown as rounded up to the next whole dollar (for ease of display) or may be shown rounded up to the next cent. See your billing statement for your actual required equal monthly payment, which will be rounded up to the next cent. These payments may be higher than the payments that would be required if this purchase was a non-promo purchase. During the last month(s) of the promo period the required monthly payment may be reduced due to the prior months' rounding. Regular account terms apply to non-promo purchases. New Accounts: As of 7/16/2024 Purchase APR is 34.99%. Penalty APR is 39.99%. Minimum Interest Charge is $2. Existing cardholders: See your credit card agreement terms. Subject to credit approval.<br/><br/></p>"
          }
        },
        "text_xn4JGT": {
          "type": "text",
          "settings": {
            "text": "<p><strong>24 Months Special Financing‡*- Online Only<br/></strong>On online purchases of $999 or more made with your Ashley Advantage® Synchrony credit card. Interest will be charged to your account from the purchase date if the promotional balance is not paid in full within 24 Months. Minimum monthly payments required.<br/><br/>‡*Qualifying purchase amount must be on one receipt. No interest will be charged on the promo balance if you pay it off, in full, within the promo period. If you do not, interest will be charged on the promo balance from the purchase date. The required minimum monthly payments may or may not pay off the promo balance before the end of the promo period, depending on purchase amount, promo length and payment allocation. Regular account terms apply to non-promo purchases and, after promo period ends, to the promo balance. New Accounts as of 07/16/24: Purchase APR 34.99%. Penalty APR 39.99%. Min Interest Charge $2. A promo fee will be charged equal to 2% of the amount financed on an equal payment no interest promotion of 18 months or more. Existing cardholders: See your credit card agreement terms. Subject to credit approval.</p>"
          }
        },
        "text_Vbwwc3": {
          "type": "text",
          "settings": {
            "text": "<p><strong>$1 to Start‡^<br/></strong>‡^“$1 to start” is available for applications online and in select stores, does not include taxes, & refers to the rental period from agreement start date to 1st scheduled renewal payment. On 1st renewal date, regular rental rates, taxes & fees will apply. Rate, term and total cost vary by item selected. This is not a promotion for a specific transaction/item nor an offer for a loan, credit, or financing. See lease for payment amounts & rental terms. Offer will not reduce the number of payments, total amount to acquire ownership, or purchase option amount. Customers in California will pay a $0 initial rent payment and a $1 processing fee to start.</p>"
          }
        },
        "text_WdwUey": {
          "type": "text",
          "settings": {
            "text": "<p><strong>Shop without using credit5<br/></strong>5Acima offers lease-to-own transactions. “Shop Without Using Credit” means this is not a loan, credit, or financing. Acima obtains information from consumer reporting agencies during a lease application. We consider multiple data points and regularly approve customers with less than perfect credit history. Acima Cash Price may include a markup over invoice price. Acquiring ownership by leasing costs more than the retailer’s cash price. Not available in MN, NJ, WI, or WY. Not all applicants are approved.<br/><br/></p>"
          }
        }
      },
      "block_order": [
        "text_3JVzFe",
        "text_MGrJ7e",
        "text_dJKjEB",
        "text_xn4JGT",
        "text_Vbwwc3",
        "text_WdwUey"
      ],
      "name": "t:sections.rich-text.presets.name",
      "settings": {
        "desktop_content_position": "center",
        "content_alignment": "left",
        "color_scheme": "",
        "full_width": true,
        "padding_top": 0,
        "padding_bottom": 0
      }
    }
  },
  "order": [
    "shogun-helper",
    "main",
    "shogun-optimizer",
    "rich_text_rx4T67",
    "rich_text_DhQmdQ"
  ]
}
