<div class="trand_pro_main mai_containe">
  <section>  
    <div class="main_bane_trad">
      <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/25Q1_Trade-Program_CLP_Hero_3200x1400_1.webp?v=1749730685">
      <div class="content_of_ban">
        <div class="all_data_cnt">
          <h2>trade program</h2>
          <p>Supporting professionals with exclusive discounts and great benefits</p>
        </div>
      </div>
    </div> 
  </section>
  <section class="main-page-layout">
    <div class="member-benefits-section">
        <h3>member benefits</h3>
      <div class="grid_membersh">
        <div class="benefits-grid">
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_Delivery.webp?v=1749478778" alt="Delivery & Set-up Icon" class="benefit-icon">
                <p>Delivery & Set-up</p>
            </div>
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_Assembly.webp?v=1749478778" alt="Assembly Available Icon" class="benefit-icon">
                <p>Assembly Available</p>
            </div>
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_Financing.webp?v=1749478779" alt="Online Returns Icon" class="benefit-icon">
                <p>Online Returns</p>
            </div>
        </div>
          <div class="benefits-grid">
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_PurchaseProtection.webp?v=1749478778" alt="Purchase Protection Plans Icon" class="benefit-icon">
                <p>Purchase Protection Plans</p>
            </div>
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_ShopOnline.webp?v=1749478778" alt="Special Financing Icon" class="benefit-icon">
                <p>Special Financing</p>
            </div>
            <div class="benefit-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Icons_NoMInimum.webp?v=1749478778" alt="Worry-free Guarantee Icon" class="benefit-icon">
                <p>Worry-free Guarantee</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="new_banner">
       <a href="#"> <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/Trade-Program-Ashley-06-12-2025_05_53_PM.png?v=1749731062" class=""></a>       
    </div>
   </section>
   
   <section>
    <div class="featured-collections-section">
        <h3>featured collections</h3>
      <p class="feature_subhed">Explore some of our favorite looks.</p>
        <div class="collections-grid">
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/25Q1_Trade-Program_CLP_LeatherStyles_1800x1800_1.webp?v=1749731197" class="collection-img">
                <a href="#">shop leather seating</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/25Q1_Trade-Program_CLP_NGN_1800x1800_1.webp?v=1749731197" alt="Nuvella Fabric" class="collection-img">
                <a href="#">shop performance fabric</a>
            
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/25Q1_Trade-Program_CLP_ExtendableDIning_1800x1800_1.webp?v=1749731197" alt="Extendable Dining Table" class="collection-img">
                <a href="#">shop extendable dining</a>
            </div>
            <div class="collection-item">
                <img src="https://cdn.shopify.com/s/files/1/0641/9316/7511/files/25Q1_Trade-Program_CLP_Modular_1800x1800_1.webp?v=1749731197" alt="Modular Seating" class="collection-img">
                <a href="#">shop modular seating</a>
            </div>
        </div>
    </div>
</section>
     <section>
      <div class="only-at-ashley-section">
        <h3>only at Mi tienda</h3>
        <p class="section-subtitle">Exclusively at Ashley Homestore & AshleyFurniture.com</p>
        <div class="ashley-grid">
            <div class="ashley-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_ExclusiveStyles_1800x1800_1.webp?v=1749739470">
               <a href="#"> <p>Shop</p></a>
            </div>
            <div class="ashley-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_LuxuryDesigns_1800x1800_1.webp?v=1749739470" alt="Ashley Living Room" class="ashley-img">
               <a href="#"> <p>Shop</p></a>
            </div>
        </div>
    </div>
    </section>
  <section>
      <div class="only-at-ashley-section asley_tred_bg">
        <h3>finishing touches</h3>
        <p class="section-subtitle">Don't forget the details to complete the look.</p>
        <div class="ashley-grid">
            <div class="ashley-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_TopMattresses_2400x1800_1.webp?v=1749739673" class="ashley-img">
               <a href="#"> <p>top mattress brands</p><p>shop mattresses</p></a>
            </div>
            <div class="ashley-item">
                <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_AccentPieces_1800x1800_1.webp?v=1749739672" class="ashley-img">
               <a href="#"> <p>accent pieces</p><p>shop home decor</p></a>
            </div>
        </div>
    </div>
  </section>
  <section>
    <div class="get_inspire_btm">
      <div class="get_inspire_btm_first">
        <div class="get_inspire_btm_first_txt">
          <p>BLOG</p>
          <p>get inspired</p>
          <p>Discover the latest trends, styles and stories</p>
          <a href="#"><button type="button">VISIT OUR BLOG</button></a>
        </div>
      </div>
      <div class="get_inspire_btm_second">
        <img src="https://cdn.shopify.com/s/files/1/0718/0117/6243/files/25Q1_Trade-Program_CLP_Blog_3200x1800_8e8ca9b2-7263-45d9-8be3-118a20eba387.webp?v=1749489171">
      </div>
    </div>
  </section>
</div>
<style>
 
</style>